<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | St Joseph's</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>


    <div class="sign_up">
        <h1 class="sign_up__header">Edit Account Details</h1>
        <form action="" class="sign_up__form">
            <table class="sign_up__table">
                <tr>
                    <td> <label for="name"></label> First Name </td>
                    <td> <input value="Robert" type="text" name="name" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                  <td> <label for="surname"></label> Surname </td>
                  <td> <input value="Pineda" type="text" name="surname" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                    <td> <label for="email"></label> Email Address </td>
                    <td> <input value="student1@email.com" type="email" name="email" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                  <td> <label for="dob"></label> DOB </td>
                  <td> <input value="2005-01-01" type="date" name="dob" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                    <td> <label for="gender"></label> Gender </td>
                    <td> 
                    <select name="gender" id="gender" class="entry__input sign_up__input">
                        <!-- need to use selected for the default one of these options below, e.g <option selected> -->
                        <option selected value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </td>
                </tr>
                <tr>
                  <td> <label></label> Reg Class </td>
                  <td> 
                    <select name="Reg Class" class="entry__input sign_up__input">
                        <!-- need to use selected for the default one of these options below, e.g <option selected> -->
                        <option value="7C">7C</option>
                        <option value="7B">7B</option>
                        <option value="7A">7A</option>
                        <option value="8C">8C</option>
                        <option value="8B">8B</option>
                        <option value="8A">8A</option>
                        <option selected value="12C">12C</option>
                    </select>
                    </td>               
                 </tr>
              </table>
              <div class="sign_up__buttons">
                <a class="btn btn--positive btn--arrow-hover sign_up__button--change-password"> Change Password </a>
                <div class="sign_up__form_buttons">
                    <a class="btn btn--primary btn--arrow-hover sign_up__button"> Save </a>
                    <a class="btn btn--secondary btn--arrow-hover sign_up__button"> Cancel </a>
                </div>
                
              </div>
        </form>
    </div>
    
</body>
</html>