<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <main class="profile__container">
        <h1 class="profile__header">Profile</h1>
        <div class="profile_detail__container">
            <div class="profile_detail__personal__container">
                <p class="profile_detail__personal__entry">John Pinedia</p>
                <a href="mailto:johpin@school.com" class="profile_detail__personal__entry">johpin@school.com</a>
                <p class="profile_detail__personal__entry">01/01/2005</p>
                <p class="profile_detail__personal__entry">Male</p>
                <p class="profile_detail__personal__entry">12C</p>
            </div>
            <div class="profile_detail__data__container">
                <p class="profile_detail__data__entry">Total Books Borrowed: 3</p>
                <p class="profile_detail__data__entry profile_detail__data__entry--red">Total Books Overdue: 2</p>
                <p class="profile_detail__data__entry">Total Books Requested: 0</p>
            </div>
            <div class="profile_detail__button__container">
                <a href="" class="btn btn--primary">Update</a>
            </div>
        </div>

        <h2 class="profile__section-header">Books Borrowed</h2>
        <div class="profile__book__container">
            <div class="profile__book profile__book">
                <img src="/template\images\books\minecraft_handbook.jpg" class="profile__book__image"></img>
                <div class="profile__book__text">
                    <div class="profile__book__details">
                        <p class="profile__book__title">Minecraft Handbook</p>
                        <p class="profile__book__author">Mojang</p>
                    </div>
                    <div class="profile__book__dates">
                        <p class="profile__book__date">Date Borrowed: 11/07/2022</p>
                        <p class="profile__book__date">Date Return: 11/09/2022</p>
                    </div>
                </div>
                <div class="profile__book__buttons">
                    <a href="#" class="btn btn--primary">Return</a>
                    <a href="#" class="btn btn--secondary">Extend</a>
                </div>
            </div>
            <div class="profile__book">
                <img src="/template\images\books\percy_jackson.jpg" class="profile__book__image"></img>
                <div class="profile__book__text">
                    <div class="profile__book__details">
                        <p class="profile__book__title">Percy Jackson And The Lighting Thief</p>
                        <p class="profile__book__author">Rick Riordan</p>
                    </div>
                    <div class="profile__book__dates">
                        <p class="profile__book__date">Date Borrowed: 11/06/2022</p>
                        <p class="profile__book__date profile__book__date--red">Date Return: 11/07/2022 - Overdue</p>
                    </div>
                </div>
                <div class="profile__book__buttons">
                    <a href="#" class="btn btn--primary">Return</a>
                    <a href="#" class="btn btn--secondary">Extend</a>
                </div>
            </div>
        </div>
        
        

        <h2 class="profile__section-header">Books Requested</h2>
        <div class="profile__book__container">
            <div class="profile__book">
                <img src="/template\images\books\midnight_gang.jpg" class="profile__book__image"></img>
                <div class="profile__book__text">
                    <div class="profile__book__details">
                        <p class="profile__book__title">Midnight Gang</p>
                        <p class="profile__book__author">David Walliams</p>
                    </div>
                    <div class="profile__book__dates">
                        <p class="profile__book__date">Date Requested: 11/07/2022</p>
                        <p class="profile__book__status profile__book__status--pending">Status: Pending Confirmation</p>
                    </div>
                </div>
                <div class="profile__book__buttons">
                    <a href="#" class="btn btn--orange">Return</a>
                    <a href="#" class="btn btn--danger">Cancel</a>
                </div>
            </div>
        </div>

        
    </main>

    
</body>
</html>