<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>


    <div class="sign_up">
        <h1 class="sign_up__header">Sign Up</h1>
        <form action="" class="sign_up__form">
            <table class="sign_up__table">
                <tr>
                    <td> <label for="name"></label> First Name </td>
                    <td> <input value="" type="text" name="name" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                  <td> <label for="surname"></label> Surname </td>
                  <td> <input value="" type="text" name="surname" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                    <td> <label for="email"></label> Email Address </td>
                    <td> <input value="" type="email" name="email" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                  <td> <label for="dob"></label> DOB </td>
                  <td> <input value="" type="date" name="dob" class="entry__input sign_up__input"></td>
                </tr>
                <tr>
                    <td> <label for="gender"></label> Gender </td>
                    <td> 
                    <select selected="male" name="gender" id="gender" class="entry__input sign_up__input">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    </td>
                </tr>
                <tr>
                  <td> <label for="reg_class"></label> Reg Class </td>
                  <td> 
                    <select name="Reg Class" id="Reg Class" class="entry__input sign_up__input">
                        <option value="7C">7C</option>
                        <option value="7B">7B</option>
                        <option value="7A">7A</option>
                        <option value="8C">8C</option>
                        <option value="8B">8B</option>
                        <option value="8A">8A</option>
                    </select>
                    </td>                </tr>
              </table>
              <div class="sign_up__buttons">
                <div class="sign_up__form_buttons">
                    <a class="btn btn--positive btn--arrow-hover sign_up__button"> Sign Up </a>
                    <a class="btn btn--primary btn--arrow-hover sign_up__button"> Cancel </a>
                </div>
                
              </div>
        </form>
    </div>
    
</body>
</html>