<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <main>
        <div class="index_section__container">
            <h1 class="index_section__title">Books Recommended for you</h1>
            <div class="index_section__book-container">
                <a href="" class="index_section__book">
                    <img src="/template/images/books/gangster_granny.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Gangster Granny</h3>
                    <h4 class="index_section__book-author">David Walliams</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="/template/images/books/minecraft_handbook.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Minecraft Handbook</h3>
                    <h4 class="index_section__book-author">Mojang</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="\template\images\books\percy_jackson.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Percy Jackson And...</h3>
                    <h4 class="index_section__book-author">Rick Riordan</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="/template\images\books\last_olympian.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">The last Olympian</h3>
                    <h4 class="index_section__book-author">Rick Riordan</h4>
                </a>
            </div>
            <h1 class="index_section__title">Because you read books by David Walliams</h1>
            <div class="index_section__book-container">
                <a href="" class="index_section__book">
                    <img src="/template/images/books/gangster_granny.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Gangster Granny</h3>
                    <h4 class="index_section__book-author">David Walliams</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="/template\images\books\demon_dentist.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Demon Dentist</h3>
                    <h4 class="index_section__book-author">David Walliams</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="/template\images\books\midnight_gang.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Midnight Gang</h3>
                    <h4 class="index_section__book-author">David Walliams</h4>
                </a>
                <a href="" class="index_section__book">
                    <img src="/template\images\books\ice_monster.jpg" class="index_section__book-image"></img>
                    <h3 class="index_section__book-title">Ice Monster</h3>
                    <h4 class="index_section__book-author">David Walliams</h4>
                </a>
            </div>
        </div>
    </main>

    
</body>
</html>