<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <main>
        <div class="detail__container">
            <img src="\template\images\books\demon_dentist.jpg" alt="" class="detail__image">
            <div class="detail__text__container">
                <h2 class="detail__text__title">Demon Dentist</h2>
                <div class="detail__text__author">David Walliams</div>
                <div class="detail__text__release-date">Release Date: 2013</div>
                <div class="detail__text__genre">Genre: Children's literature</div>
                <div class="detail__text__availibility">Availibility: <span class=" detail__text__availibility--positive"> In shelf: A12</span></div>
                <table class="detail__text__tag__container">
                    <tr>
                        <td>Tags:</td>
                        <td>Best Seller</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Fiction</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Humor</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Horror</td>
                    </tr>
                    
                </table>
            </div>
            <div class="detail__button__container">
                <a href="#" class="btn btn--primary detail__button__button">Borrow</a>
            </div>
        </div>
    </main>


    
</body>
</html>