<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <main class="profile__container order-list__container">

        <div class="order-list__header__container">
            <h1 class="profile__header order-list__header">Profile</h1>
            <a href="#" class="btn btn--primary order-list__button">Create</a>
        </div>

        <div class="profile__book__container order-list__book__container">
            <div class="profile__book profile__book">
                <img src="/template\images\books\midnight_gang.jpg" class="profile__book__image"></img>
                <div class="profile__book__text">
                    <div class="profile__book__details">
                        <p class="profile__book__title">The Midnight Gang</p>
                        <p class="profile__book__author">David Walliams</p>
                    </div>
                    <div class="profile__book__dates">
                        <p class="profile__book__date">Date Requested: 11/07/2022</p>
                        <p class="profile__book__date order-list__book__status  order-list__book__status--pending">Status: Pending Confirmation</p>
                    </div>
                </div>
                <div class="profile__book__buttons">
                    <a href="#" class="btn btn--positive">Approve</a>
                    <a href="#" class="btn btn--danger">Deny</a>
                </div>
            </div>
            <div class="profile__book">
                <img src="/template\images\books\percy_jackson.jpg" class="profile__book__image"></img>
                <div class="profile__book__text">
                    <div class="profile__book__details">
                        <p class="profile__book__title">Percy Jackson And The Lighting Thief</p>
                        <p class="profile__book__author">Rick Riordan</p>
                    </div>
                    <div class="profile__book__dates">
                        <p class="profile__book__date">Date Accepted: 11/06/2022</p>
                        <p class="profile__book__date order-list__book__status  order-list__book__status--accepted">Status: Accepted</p>
                    </div>
                </div>
                <div class="profile__book__buttons">
                    <a href="#" class="btn btn--primary">Update</a>
                    <a href="#" class="btn btn--danger">Cancel</a>
                </div>
            </div>
        </div>
        
        

        
    </main>

    
</body>
</html>