<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password | St Joseph's</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <div class="account_delete__container">
        <div class="account_delete">
            <h2 class="account_delete__header"> Are you sure you want to change <a href="">Josep Pinedia</a>'s Password? </h2>
            <p class="account_delete__return__sub-text">Please ensure you let them know of the update</p>
            <form class="sign_up__form change_password__form">
                <table class="sign_up__table change_password__table">
                    <tr>
                        <td> <label for="password"></label> Enter Password </td>
                        <td> <input  type="password" name="password" class="entry__input sign_up__input change_password__input"></td>
                    </tr>
                    <tr>
                      <td> <label for="re-password"></label> Re-Enter Password </td>
                      <td> <input  type="password" name="re-password" class="entry__input sign_up__input change_password__input"></td>
                    </tr>


                  </table>
                  <div class="sign_up__buttons change_password__buttons">
                    <div class="sign_up__form_buttons">
                        <a class="btn btn--positive btn--arrow-hover sign_up__button"> Update </a>
                        <a class="btn btn--primary btn--arrow-hover sign_up__button"> Cancel </a>
                    </div>
                    
                  </div>
            </form>
        </div>
    </div>
    
</body>
</html>