<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Edit</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>

    <div class="account_delete__container">
        <div class="account_delete">
            <h2 class="account_delete__header"> Are you sure you want to delete <a href="">1</a>? </h2>

            <a class="btn btn--primary btn--arrow-hover account_delete__button"> Cancel </a>
            <a class="btn btn--danger btn--arrow-hover account_delete__button"> Delete </a>
    
        </div>
    </div>
    
</body>
</html>