<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Profiles</title>
    <link rel="stylesheet" href="/template/css/main.css">
</head>
<body>
    <header class="header">
        <div class="header__image">
            <image src="/template/images/logo.png"></image>
        </div>
        <div class="header__buttons">
            <a class="header__button" href="">Search</a>
            <a class="header__button" href="">Request Book</a>
            <a class="header__button" href="">Profile</a>
            <a class="header__button" href="">Login</a>
        </div>

    </header>
    <div class="account_search__container">
        <form class="account_search">
            <label for="name" class="account_search__label entry__label">Name: </label>
            <input name="name" type="text" class="account_search__input entry__input">
            <label for="email" class="account_search__label entry__label">Email Address: </label>
            <input name="email" type="text" class="account_search__input entry__input">
            <input type="button" value="Search" class="btn btn--primary btn--arrow-hover account_search__button">
        </form>
    </div>

    <table id="customers">
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email Address</th>
        </tr>
        <tr>
          <td><a href="">1</a></td>
          <td>Maria Anders</td>
          <td>student2@email.com</td>
        </tr>
        <tr>
          <td><a href="">2</a></td>
          <td>Christina Berglund</td>
          <td>student3@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Francisco Chang</td>
          <td>student4@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Roland Mendel</td>
          <td>student5@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Helen Bennett</td>
          <td>student6@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Philip Cramer</td>
          <td>student7@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Yoshi Tannamuri</td>
          <td>student8@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Giovanni Rovelli</td>
          <td>student9@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Simon Crowther</td>
          <td>student10@email.com</td>
        </tr>
        <tr>
          <td><a href="">3</a></td>
          <td>Marie Bertrand</td>
          <td>student11@email.com</td>
        </tr>
      </table>

      <div class="account_search__table_navigation">
        <p>Page 1 of 15</p>
        <span><a href="">Prev</a> / <a href="">Next</a></span>
      </div>

    
</body>
</html>